<launch>
    <arg name="debug" default="false"/>
    <set_env if="$(var debug)" name="ROSCONSOLE_CONFIG_FILE" value="$(find-pkg-share dsol)/launch/debug.conf"/>

    <arg name="start" default="0"/>
    <arg name="end" default="0"/>
    <arg name="reverse" default="false"/>

    <arg name="tbb" default="1"/>
    <arg name="log" default="5"/>
    <arg name="vis" default="1"/>
    <arg name="freq" default="10.0"/>
    <arg name="save" default=""/>
    <arg name="wait_ms" default="10"/>

    <arg name="data" default="vk2"/>
    <arg name="data_dir" default="/home/tp/datasets/vkitti/Scene20/clone"/>
    <!-- <arg name="data_dir" default="/home/chao/Workspace/dataset/kitti/dataset/sequences/00"/> -->
    <!-- <arg name="data_dir" default="/home/chao/Workspace/dataset/tartan_air/gascola/Easy/P003"/> -->
    <arg name="data_max_depth" default="100.0"/>
    <arg name="cloud_max_depth" default="50.0"/>
    <arg name="motion_alpha" default="0.5"/>

    <node pkg="dsol" exec="sv_dsol_node_data" name="dsol_data" output="screen" namespace= "dsol_data">
        <param from="$(find-pkg-share dsol)/config/dsol.yaml"/>
        <param from="$(find-pkg-share dsol)/config/dsol_$(var data).yaml"/>

        <param name="tbb" value="$(var tbb)"/>
        <param name="log" value="$(var log)"/>
        <param name="vis" value="$(var vis)"/>
        <param name="freq" value="$(var freq)"/>
        <param name="save" value="$(var save)"/>
        <param name="wait_ms" value="$(var wait_ms)"/>

        <param name="data_dir" value="$(var data_dir)"/>
        <param name="data_max_depth" value="$(var data_max_depth)"/>
        <param name="cloud_max_depth" value="$(var cloud_max_depth)"/>
        <param name="motion_alpha" value="$(var motion_alpha)"/>

        <param name="start" value="$(var start)"/>
        <param name="end" value="$(var end)"/>
        <param name="reverse" value="$(var reverse)"/>

        <param name="max_grad" value="123"/>
    </node>
</launch>